/*This is the CSS for Lab 2: CSS Crash Course */
/* Goal 1: CSS Selectors */
body {
  background-color: lightgrey;
}

.class-selector {
  text-align: right;
}

#id-selector {
  text-align: center;
}

/* Goal 2: CSS Colors */
.bg-white{
  background-color: rgb(255,255,255);
}

.bg-green{
  background-color: rgb(0, 255, 0);
}

.bg-blue{
  background-color: rgb(0, 0, 255);
}

.bg-red{
  background-color: rgb(255, 0, 0);
}

.bg-yellow {
  background-color: rgb(255, 255, 0);
}

.bg-dark {
  background-color: rgb(0,0,0);
}

.text-red{
  color: red;
}

.text-blue{
  color: blue;
}

.text-green{
  color: green;
}

.text-white{
  color: white;
}
/* Goal 3: CSS Fonts */
.bold{
  font-weight: bold;
}

.italic{
  font-style: italic;
}

.large-text{
  font-size: 22px;
}

.small-text{
  font-size: small;
}

.arial-font{
  font-family: Arial;
}

.bangers-font{
  font-family: 'Bangers';
}
/* Goal 4: CSS Spacing */
/* Goal 5: CSS Sizing */
/* Goal 6: CSS Backgrounds */
/* Goal 7: CSS Customizations (to Default HTML Styles) */
/* Goal 8: CSS Aligning with Flexbox */
/* Goal 9: CSS Aligning with Gridview */